@model SubjectAndClassManagement.Models.NotificationModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="notify_id" />
            <div class="form-group">
                <label asp-for="notify_id" class="control-label"></label>
                <input asp-for="notify_header" class="form-control" />
                <span asp-validation-for="notify_header" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="notify_day" class="control-label"></label>
                <input asp-for="notify_day" class="form-control" type="date"/>
                <span asp-validation-for="notify_day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="notify_decription" class="control-label"></label>
                <textarea asp-for="notify_decription" class="form-control"></textarea>
                <span asp-validation-for="notify_decription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}