@page
@model SubjectAndClassManagement.Views.Notification.IndexModel
@{

}




       
<h1>Notifications</h1>
<div class="my-4 p-4 rounded border border-primary">
   <h2>Thông báo thay đổi phòng học lớp IS334.N21</h2>
   <p>19/12/2023</p>
   <p>Do phòng học đang sửa chửa, phòng Đào tạo Đại học (ĐTĐH) đã chuyển lớp IS334.N21 sang học tại phòng B5.08 từ ngày 21/04/2023</p>
                    
</div>
            
        





    