/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.sidebar {
    width: 241px;
    height: 100vh;
    background-color: #152259;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar-heading {
    height: 170px;
}

.sidebar li {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    padding: 10px;
}



.sidebar li:hover {
   background-color: #509CDB;
   border-radius: 5px;
}


.sidebar li a {
   text-decoration: none;
   color: white;
 }

.content {
   margin-left: 241px;
}

