@model SubjectAndClassManagement.Models.LoginViewModel

@{
    Layout = "_LayoutLogin";
}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <style>
        .box-area {
            width: 930px;
        }
        .right-box {
            padding: 40px 30px 40px 40px;
        }

        ::placeholder {
            font-size: 16px;
        }
    </style>
</head>
<body>

    <h2><strong>@TempData["Message"]</strong></h2>
    @using (Html.BeginForm("Login", "Accounts", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="container d-flex justify-content-center align-items-center min-vh-100">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row border rounded-3 p-3 bg-white shadow box-area">
                <div class="col-md-6 rounded-2 d-flex justify-content-center align-items-center flex-column left-box" style="">
                    <div class="featured-image mb-3">
                        <img src="https://vnu.edu.vn/upload/2019/08/24669/image/2.jpg" class="img-fluid" style="width: 250px" />
                    </div>
                    <p class="fs-2 fw-bold">Udemy Uni</p>
                    <small class="text-wrap text-center" style="width: 17rem;">Creative - Pioneering - High quality</small>
                </div>

                <div class="col-md-6 right-box">
                    <div class="row align-items-center">
                        <div class="header-text mb-4">
                            <strong>Welcome back</strong>
                            <p> It's our pleasure to have you on board!</p>
                        </div>
                        <div class="input-group mb-3">
                            <input asp-for="Username" type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Enter your name account" />

                        </div>
                        <div class="input-group mb-1">
                            <input asp-for="Password" type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Enter your password" />

                        </div>
                        <div class="input-group mb-4">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="formCheck" />
                                <label for="formCheck" class="form-check-label text-secondary">Remember me</label>
                            </div>

                        </div>
                        <div class="input-group mb-4">
                            <button type="submit" value="Login" class="btn btn-lg btn-primary w-100 fs-6">Login</button>

                        </div>
                        <div class="row">
                            <a>Forgot your password?</a>
                        </div>

                    </div>
                </div>

            </div>

        </div>

       

    }

   

   

    @if (!string.IsNullOrEmpty(ViewData["Error"] as string))
    {
        <p style="color:red;">@ViewData["Error"]</p>
    }

    


    
</body>
</html>
