@model SubjectAndClassManagement.Models.Subject

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html>
<head>
	<title>Subject</title>
	<link rel="stylesheet" href="~/css/Create.css" />
</head>
<body>
	<div class="container">
		<div class="main-body">
			<div class="row">
				<div class="col mx-auto col-6">
					<div class="card">
						<form asp-action="Create">
							<div class="card-body">
								<div class="row mb-3">
									<div class="col-sm-3">
										<h6 class="mb-0">Subject ID</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										<input asp-for="subject_id" class="form-control" />
									</div>
									<span asp-validation-for="subject_id" class="text-danger"></span>
								</div>
								<div class="row mb-3">
									<div class="col-sm-3">
										<h6 class="mb-0">Subject name</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										<input asp-for="subject_name" class="form-control" />
									</div>
									<span asp-validation-for="subject_name" class="text-danger"></span>
								</div>
								<div class="row mb-3">
									<div class="col-sm-3">
										<h6 class="mb-0">Credit</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										<input asp-for="credit" class="form-control" />
									</div>
									<span asp-validation-for="credit" class="text-danger"></span>
								</div>
								<div class="row mb-3">
									<div class="col-sm-3">
										<h6 class="mb-0">Description</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										<textarea asp-for="subject_description" class="form-control"></textarea>
									</div>
									<span asp-validation-for="subject_description" class="text-danger"></span>
								</div>


								<div class="row">
									<div class="col-sm-4"></div>
									<div class="col-sm-4 text-secondary">
										<a asp-action="Index">Back to List</a>
									</div>
									<div class="col-sm-4 text-secondary">
										<input type="submit" value="Create" class="btn btn-primary" />
									</div>
								</div>
							</div>

						</form>
					</div>

				</div>
			</div>
		</div>
	</div>
	@section Scripts {
		@{
			await Html.RenderPartialAsync("_ValidationScriptsPartial");
		}
	}
</body>
</html>