@model SubjectAndClassManagement.Models.Student

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>


<hr />
@if (User.IsInRole("admin"))
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="student_id" />

                    <div class="form-group">
                        <label asp-for="student_name" class="control-label"></label>
                            <input asp-for="student_name" class="form-control" />
                        <span asp-validation-for="student_name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="email" class="control-label"></label>
                        <input asp-for="email" class="form-control" />
                        <span asp-validation-for="email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="phone_number" class="control-label"></label>
                        <input asp-for="phone_number" class="form-control" />
                        <span asp-validation-for="phone_number" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="academic_year" class="control-label"></label>
                        <input asp-for="academic_year" class="form-control" value="@Model.academic_year"/>
                        <span asp-validation-for="academic_year" class="text-danger"></span>
                    </div>

                @* Display and Edit Profile Information through User Relationship *@
                <input type="hidden" asp-for="User.password" />
                <input type="hidden" asp-for="User.username" />
                <input type="hidden" asp-for="User.user_type" />
                <input type="hidden" asp-for="User.student_id" />
                <input type="hidden" asp-for="User.teacher_id" />
                <input type="hidden" asp-for="User.Profile.profile_id" />
                <input type="hidden" asp-for="User.Profile.username" />
                <div hidden>
                    <div class="form-group">
                        <label asp-for="User.Profile.date_of_birth" class="control-label"></label>
                        <input asp-for="User.Profile.date_of_birth" class="form-control" />
                        <span asp-validation-for="User.Profile.date_of_birth" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.Profile.gender" class="control-label"></label>
                        <select asp-for="User.Profile.gender" class="form-control">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                        <span asp-validation-for="User.Profile.gender" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.Profile.address" class="control-label"></label>
                        <input asp-for="User.Profile.address" class="form-control" />
                        <span asp-validation-for="User.Profile.address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.Profile.citizen_id_card" class="control-label"></label>
                        <input asp-for="User.Profile.citizen_id_card" class="form-control" />
                        <span asp-validation-for="User.Profile.citizen_id_card" class="text-danger"></span>
                    </div>

                    
                </div>
                <div class="form-group mt-2">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}

@if (User.IsInRole("student"))
{
    <form class="row g-3" asp-action="Edit">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="student_id" />
        
        <div class="col-12 form-group">
            <label asp-for="student_name" class="control-label"></label>
            <input asp-for="student_name" class="form-control" disabled/>
            <span asp-validation-for="student_name" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="User.Profile.gender" class="control-label"></label>
            <select asp-for="User.Profile.gender" class="form-control">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
            <span asp-validation-for="User.Profile.gender" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="email" class="control-label"></label>
            <input asp-for="email" class="form-control" />
            <span asp-validation-for="email" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="phone_number" class="control-label"></label>
            <input asp-for="phone_number" class="form-control" />
            <span asp-validation-for="phone_number" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="User.Profile.date_of_birth" class="control-label"></label>
            <input asp-for="User.Profile.date_of_birth" class="form-control" />
            <span asp-validation-for="User.Profile.date_of_birth" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="academic_year" class="control-label"></label>
            <input asp-for="academic_year" class="form-control" value="@Model.academic_year" disabled />
            <span asp-validation-for="academic_year" class="text-danger"></span>
        </div>

        <input type="hidden" asp-for="User.password" />
        <input type="hidden" asp-for="User.username" />
        <input type="hidden" asp-for="User.user_type" />
        <input type="hidden" asp-for="User.student_id" />
        <input type="hidden" asp-for="User.teacher_id" />
        <input type="hidden" asp-for="User.Profile.profile_id" />
        <input type="hidden" asp-for="User.Profile.username" />


        <div class="col-8">
            <label asp-for="User.Profile.address" class="control-label"></label>
            <input asp-for="User.Profile.address" class="form-control" />
            <span asp-validation-for="User.Profile.address" class="text-danger"></span>
        </div>

        <div class="col-4">
            <label asp-for="User.Profile.citizen_id_card" class="control-label"></label>
            <input asp-for="User.Profile.citizen_id_card" class="form-control" />
            <span asp-validation-for="User.Profile.citizen_id_card" class="text-danger"></span>
        </div>

        <div class="col-1">
            <input type="submit" value="Save" class="btn btn-primary bg-success" />
        </div>

        <div class="col-1">
            <button class="p-2 rounded-2" asp-action="Details" asp-route-id="@Model?.student_id">Back</button>
        </div>


    </form>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}