@{
    ViewData["Title"] = "Dashboard Page";
}



<div class="container">
    <img src="https://i.pinimg.com/1200x/b7/b1/38/b7b138495126b90b35855af28716a610.jpg" alt="picture" class="rounded mx-auto d-block" />
    <h3 class="text-center">Welcome you back to work!</h3>
</div>

