@model IEnumerable<SubjectAndClassManagement.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<style>
    .form-item {
        float: left;
    }

    .form-item .form-select {
         width: 220px;
    }

    .fieldset-wrapper .item-submit {
        clear: both;
    }

    th, td {
        vertical-align: middle;
    }

    tbody td {
        background-color: #152259;
    }




    .timetable table tr td.center-cell-data {
        font-weight: bold;
        text-align: center;
        width: 90px;
    }

    .timetable thead tr th {
        text-align: center;
    }

    .odd td, .even td {
        background-color: #ccc;
    }

    .timetable .rowspan_data {
        max-width: 208px;
        text-align: center;
        background-color: white;
    }
</style>


<h1>Welcom teacher</h1>

<fieldset>
    <div class="fieldset-wrapper">
        <p class="fs-3">Thông tin cần xem</p>
        <div class="form-item me-3 mb-2">
            <label class="mb-2">Học kì</label>
            <select class="form-select">
                <option value="">Học kì 1</option>
                <option value="">Học kì 2</option>
                <option value="">Học kì hè</option>
            </select>
        </div>
        <div class="form-item me-3">
            <label class="mb-2">Năm học</label>
            <select class="form-select">
                <option value="">2023-2024</option>
                <option value="">2022-2023</option>
                <option value="">2021-2022</option>
            </select>
        </div>
        <div class="item-submit">
            <input type="submit" name="op" value="Watch" class="form-submit">
        </div>
    </div>

</fieldset>

<table class="table table-bordered mt-3 ms-1">
    <thead>
        <tr>
            <th>day / lesson</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
    </thead>
    <tbody>
        <tr class="odd">
            <td class="center-cell-data">
                lesson 1
                <br>
                (7:30 - 8:15)
            </td>
            <td rowspan="4" class="rowspan_data">
                <strong>SE347.011.PMCL - VN</strong>
                <br>
                Sĩ số: 50
                <br>
                Công nghệ web và ứng dụng
                <br>
                P C216(CLC)
                <br>
                BĐ:11/09/23
                <br>
                KT:09/12/23
            </td>
            <td rowspan="3" class="rowspan_data">
                <strong>SE100.O12.PMCL - EN</strong>
                <br>
                Sĩ số: 44
                <br>
                Phương pháp Phát triển phần mềm hướng đối tượng
                <br>
                P B1.10
                <br>
                BĐ:11/09/23
                <br>
                KT:30/12/23
            </td>
            <td style="background-color: #ccc;"></td>
            <td rowspan="3" class="rowspan_data">
                <strong>SE113.O11.PMCL - EN</strong>
                <br>
                Sĩ số: 46
                <br>
                Kiểm chứng phần mềm
                <br>
                P C301 (CLC)
                <br>
                BĐ:11/09/23
                <br>
                KT:02/12/23
            </td>
            <td></td>
            <td></td>

        </tr>

        <tr class="even">
            <td class="center-cell-data">
                lesson 2
                <br>
                (8:15 - 9:00)
            </td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
        <tr class="odd">
            <td class="center-cell-data">
                lesson 3
                <br>
                (9:00 - 9:45)
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="even">
            <td class="center-cell-data">
                lesson 4
                <br>
                (10:00 - 10:45)
            </td>
            <td></td>
            <td rowspan="2" class="rowspan_data">
                <strong>SS008.O11 - VN</strong>
                <br>
                Sĩ số: 151
                <br>
                Kinh tế chính trị Mác – Lênin
                <br>
                P B6.06
                <br>
                BĐ:11/09/23
                <br>
                KT:30/12/23
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="odd">
            <td class="center-cell-data">
                lesson 5
                <br>
                (10:45 - 11:30)
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="even">
            <td class="center-cell-data">
                lesson 6
                <br>
                (13:00 - 13:45)
            </td>
            <td></td>
            <td rowspan="4" class="rowspan_data">
                <strong>SE357.O12.PMCL - VN - (Cách 2 tuần)</strong>
                <br>
                Sĩ số: 49
                <br>
                Kỹ thuật phân tích yêu cầu
                <br>
                P C212 (CLC)
                <br>
                BĐ:18/09/23
                <br>
                KT:06/01/24
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="odd">
            <td class="center-cell-data">
                lesson 7
                <br>
                (13:45 - 14:30)
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="even">
            <td class="center-cell-data">
                lesson 8
                <br>
                (14:30 - 15:15)
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="odd">
            <td class="center-cell-data">
                lesson 9
                <br>
                (15:30 - 16:15)
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="even">
            <td class="center-cell-data">
                lesson 10
                <br>
                (16:15 - 17:00)
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>